{% load static %}
<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
                        {% for rs in products %}
						<!-- single-slide -->
						<div class="row single-slide lign-items-center d-flex">
							<div class="col-lg-5">
								<div class="banner-content">
									<h1>{{ rs.title }}</h1>
									<p>{{ rs.description }}</p>
									<div class="add-bag d-flex align-items-center">
										<a class="add-btn" href="product/{{ rs.id }}"><span class="lnr lnr-cross"></span></a>
										<span class="add-text text-uppercase">İncele</span>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="banner-img">
									<img class="img-fluid" src="{{ rs.image.url }}" style="height: 250px;width: 400px" alt="">
								</div>
							</div>
						</div>
                        {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- End Banner Area -->